.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.footer__link {
    text-decoration: none;
}