.footer-contacts__social__link--yt {
    text-decoration: none;
    content: url(../images/yt.png);
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 11px;
    padding-right: 11.82px;
}

.footer-contacts__social__link--vk {
    text-decoration: none;
    content: url(../images/vk.png);
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 8px;
    padding-right: 8.96px;
}

.footer-contacts__social__link--fb {
    text-decoration: none;
    content: url(../images/fb.png);
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 13px;
}

.footer-contacts__social__link--inst {
    text-decoration: none;
    content: url(../images/inst.png);
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 12px;
}

.footer-contacts__social-box--img:nth-child(-n+2) {
    margin-right: 20px;
}

.footer-contacts__social-box--img:nth-child(3) {
    margin-right: 16px;
}

.footer-contacts__social-box--img {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #F13C6E;
}

.footer-contacts {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: #FFFFFF;
    padding-bottom: 40px;
    padding-top: 41px;
}