.banner {
    background-image: url(../images/promo-chair-bg.png);
    padding-top: 192px;
    padding-bottom: 193px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-chair__titlebox {
    margin-bottom: 50px;
}

.promo-chair__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.promo-chair__text {
    width: 308px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.promo-chair__linkbox {
    margin-top: 50px;
}

.promo-chair__link {
    display: block;
    background: #F13C6E;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    padding-top: 12px;
    padding-bottom: 13px;
}